
    body.home{
        background-color: rgba(125, 252, 125, 0.3);
        text-align: center;
    }

    .home .img {
        height: auto;
        width: 750px;
    }

    footer {
        text-align: right;
        font-size: 12px;
    }

    body.wings {
        background-color: rgba(244, 165, 96, 0.4);
    }

    .heading, .desc{
        text-align: center;
    }

    .img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 400px;
    }

    body.rigatoni {
        background-color: #F0EAD6;
    }

    body.lasagna {
        background-color: rgba(255, 0, 0, 0.2);
    }